body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Cole_Thomas_The_Oxbow_%28The_Connecticut_River_near_Northampton_1836%29.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 0 0 0;
  margin-top: 0;
}

#main-column {
  padding: 50px;
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  /* border: 7.5px outset #ccc; */
  /* box-shadow: 10px 10px 5px rgba(0,0,0,0.25); */
}

h1 {
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 50px;
}

h2 {
  font-weight: 100;
}

h3 {
  font-weight: 100;
  margin-top: -17.5px;
  margin-left: 2.5px;
}

h4 {
  font-weight: 100;
  margin-top: -10px;
  margin-left: 5px;
}

a {
  color: cornflowerblue;
}

#profile-image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: block;
  margin: auto;
}

/* hr.zig, hr.zag {
  border: none;
  height: 30px;
  margin: 0;
}

hr.zig{
  background: linear-gradient(-135deg, white 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, white 20px, rgba(0, 0, 0, 0) 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 100;
  position: relative;
}

hr.zag {
  background: linear-gradient(-135deg, black 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, black 20px, white 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 50;
  margin-top: -28px;
} */

@media only screen and (max-width: 700px) {
  #main-column {
    width: 90%;
    margin: 125px 0 0 0;
    padding: 75px 5%;
  }

  body {
    margin: 0 0 0 0;
    background-position: 0% -100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 500px;
  }
}

@media (max-width: 500px) {
  body {
    background-size: 500px;
  }
}